.login{
	background-color: #ffa000;
}
.login_top{
	font-size: .36rem;
	color: #FFFFFF;
	margin-top: .3rem;
	text-align: center;
}
.login_img{
	margin-top: 1.3rem;
	text-align: center;
}
.login_img img{
	width: 1.97rem;
	height: 1.31rem;
}
.login_main_yhm {
	width: 85%;
    height: 1.08rem;
    border-bottom: 4px solid #000000;
    vertical-align: middle;
    line-height: 1.08rem;
    margin: .7rem auto 0;
}
.login_main_yhm_icon {
    height: .42rem;
    width: .4rem;
    background: url(../images/login_yhm.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    margin-left: .3rem;
    margin-right: .3rem;
}
.login_main_yhm_input, .login_main_mima_input {
    width: 76%;
    font-size: .3rem;
    color: #000000;
    border: none;
    height: .49rem;
    outline: none;
    background-color: #ffa000;
}
.login_main_mima {
	border-bottom: 4px solid #000000;
	width: 85%;
    height: 1.08rem;
    vertical-align: middle;
    line-height: 1.08rem;
    margin: 0 auto;
}
.login_main_mima_icon {
    height: .48rem;
    width: .4rem;
    background: url(../images/login_mima.png)no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    margin-left: .3rem;
    margin-right: .3rem;
}
.login_denglu{
	width: 70%;
    height: .9rem;
    border-radius: 500px;
    background-color: #000000;
    color: #FFFFFF;
    margin: 1rem auto;
    text-align: center;
    line-height: .9rem;
    font-size: .34rem;
}
.login_error{
	color: red;
	font-size: .28rem;
	text-align: center;
	height: .3rem;
	line-height: .3rem;
}
